<%=form_for(@workout, url: user_workouts_path) do |f|%>

  <p><%=f.text_field :name, placeholder: "Name your workout"%></p>


<p>Choose an existing exercise or create your own:</p>

<p><%= f.collection_check_boxes(:exercise_ids, Exercise.all, :id, :name)%></p>


<%= f.submit %>
<%end%>
