<h1>New Workout</h1>

<%=form_for(@workout, url: user_workouts_path) do |f|%>

  <p><%=f.text_field :name, placeholder: "Name your workout"%></p>
  <p>Completed? <%=f.check_box :status%></p>

<p>Choose an existing exercise or create your own:</p>


<%= f.submit %>
<%end%>
