<h1>Welcome to your Workout Buddy!</h1>
<p>Take charge of your health! </p>
<p>Create and monitor your workout routines with Workout Buddy.</p>

<button class="button button1"><%= link_to "Become a member", signup_path%></button>
