<body class="bg">
  <div class="text-center">
    <h1>Welcome to your Workout Buddy!</h1>
    <p class="lead">Never skip a workout again! </p>
    <button type="button" class="btn btn-default btn-lg"><%= link_to "Become a member", signup_path%></button>
  </div>
</body>
