<h2>Track Your Progress</h2>
<p>Workouts completed: <%=@user.workouts.count{|w| w.completed == true}%></p>

<table class="table table-hover">
  <thead class="thead-default">
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Intensity</th>
      <th>Duration (min)</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody id="wBody">
  </tbody>
</table>

<p><%= link_to "New Workout", new_workout_path%></p>

<script type="text/javascript">
  $(function() {
    $.ajax({
      url: window.location.pathname + '.json',
      method: 'get',
      success: function(data) {
        var trHTML = '';
        for(i=0; i < data.length; i++) {
          var workout = data[i]
          trHTML += `<tr>
          <td><a href="/workouts/${workout.id}">${workout.name} | ${workout.exercises.length} exercises</a></td>
          <td>${workout.status}</td>
          <td>${workout.intensity}</td>
          <td>${workout.duration}</td>
          <td><a href="/workouts/${workout.id}/edit">Edit</a></td>
          </tr>`
        }
        $('#wBody').append(trHTML);
      },
      error: function(req, status, err){
        console.log('Something went wrong', status, err);
      }
    })
  }())
</script>
