<table id="js-exercisesTable" class="table table-hover">
  <thead class="thead-default">
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th>Level</th>
    <th>Length</th>
    <th>Reps</th>
    <th>Instruction</th>
  </tr>
</thead>
<tbody>
  <tr>
    <%@exercises.each do |e|%>
      <td class="eName"><%=link_to e.name, exercise_path(e)%></td>
      <td class="category"><%=e.category%></td>
      <td class="level"><%=e.level%></td>
      <td class="length"><%=e.length%></td>
      <td class="reps"><%=e.reps%></td>
      <td class="how" id="body-<%= e.id %>"><%=truncate e.how%> <button class="js-more" data-id="<%= e.id %>">More</button></td>
  </tr>
      <%end%>
  <tbody>
</table><br>
